<html>
<head>
  <title>Friends</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='my_style_sheet.css') }}">
</head>
<body>
 

  <div id = 'errorlist1'>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div>
    <h2>Add a Email:</h2>
    <form action='/result' method='POST'>   
      <p><label for="email">Enter email: <input type="text" name="email" id="email"></label></p>
    
      <input type="submit" value="Add">
    </form>
  </div>

</body>
</html>